## FEATURE SELECTION DONE

In [61]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [62]:
selected_columns = [
    "OverallQual",
    "GarageCars",
    "GarageArea",
    "ExterQual",
    "GarageFinish",
    "KitchenQual",
    "BsmtQual",
    "YearBuilt",
    "TotalBsmtSF",
    "GrLivArea",
    "1stFlrSF",
    "FullBath",
    "YearRemodAdd",
    "Fireplaces",
    "HeatingQC",
    "TotRmsAbvGrd",
    "MasVnrArea",
    "BsmtFinSF1",
    "BsmtExposure",
    "LotFrontage",
    "WoodDeckSF",
    "OpenPorchSF",
    "Neighborhood"
]

In [63]:
df_train = pd.read_csv(
    r"C:\Users\leila\Downloads\pfaproject\house-price-prediction\data\raw data\train.csv",
    usecols=selected_columns + ['SalePrice']
)

In [64]:
df_train.head()

,LotFrontage,Neighborhood,OverallQual,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,BsmtQual,BsmtExposure,BsmtFinSF1,...,FullBath,KitchenQual,TotRmsAbvGrd,Fireplaces,GarageFinish,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,SalePrice
0,65.0,CollgCr,7,2003,2003,196.0,Gd,Gd,No,706,...,2,Gd,8,0,RFn,2,548,0,61,208500
1,80.0,Veenker,6,1976,1976,0.0,TA,Gd,Gd,978,...,2,TA,6,1,RFn,2,460,298,0,181500
2,68.0,CollgCr,7,2001,2002,162.0,Gd,Gd,Mn,486,...,2,Gd,6,1,RFn,2,608,0,42,223500
3,60.0,Crawfor,7,1915,1970,0.0,TA,TA,No,216,...,1,Gd,7,1,Unf,3,642,0,35,140000
4,84.0,NoRidge,8,2000,2000,350.0,Gd,Gd,Av,655,...,2,Gd,9,1,RFn,3,836,192,84,250000

In [65]:
df_train.columns

Index(['LotFrontage', 'Neighborhood', 'OverallQual', 'YearBuilt',
       'YearRemodAdd', 'MasVnrArea', 'ExterQual', 'BsmtQual', 'BsmtExposure',
       'BsmtFinSF1', 'TotalBsmtSF', 'HeatingQC', '1stFlrSF', 'GrLivArea',
       'FullBath', 'KitchenQual', 'TotRmsAbvGrd', 'Fireplaces', 'GarageFinish',
       'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'SalePrice'],
      dtype='object')

In [66]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotFrontage   1201 non-null   float64
 1   Neighborhood  1460 non-null   object
 2   OverallQual   1460 non-null   int64
 3   YearBuilt     1460 non-null   int64
 4   YearRemodAdd  1460 non-null   int64
 5   MasVnrArea    1452 non-null   float64
 6   ExterQual     1460 non-null   object
 7   BsmtQual      1423 non-null   object
 8   BsmtExposure  1422 non-null   object
 9   BsmtFinSF1    1460 non-null   int64
 10  TotalBsmtSF   1460 non-null   int64
 11  HeatingQC     1460 non-null   object
 12  1stFlrSF      1460 non-null   int64
 13  GrLivArea     1460 non-null   int64
 14  FullBath      1460 non-null   int64
 15  KitchenQual   1460 non-null   object
 16  TotRmsAbvGrd  1460 non-null   int64
 17  Fireplaces    1460 non-null   int64
 18  GarageFinish  1379 non-null   object
 19  GarageCars    1460 non-null   int64
 20  GarageArea    1460 non-null   int64
 21  WoodDeckSF    1460 non-null   int64
 22  OpenPorchSF   1460 non-null   int64
 23  SalePrice     1460 non-null   int64
dtypes: float64(2), int64(15), object(7)
memory usage: 273.9+ KB

In [67]:
### 1. Traitement des valeurs manquantes selon la description ###

# Variables catégorielles avec "NA" dans la description
na_categorical = {
    "BsmtQual": "NA",  # No Basement
    "BsmtExposure": "NA",  # No Basement
    "GarageFinish": "NA",  # No Garage
}

for col, na_value in na_categorical.items():
    df_train[col] = df_train[col].fillna(na_value)


# Variables numériques
df_train["LotFrontage"] = df_train.groupby("Neighborhood")["LotFrontage"].transform(lambda x: x.fillna(x.median()))
df_train["MasVnrArea"] = df_train["MasVnrArea"].fillna(0)  # Si pas de maçonnerie

### 3. Vérification finale ###
print("Valeurs manquantes restantes:")
print(df_train.isnull().sum().sum())

Valeurs manquantes restantes:
0

In [68]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotFrontage   1460 non-null   float64
 1   Neighborhood  1460 non-null   object
 2   OverallQual   1460 non-null   int64
 3   YearBuilt     1460 non-null   int64
 4   YearRemodAdd  1460 non-null   int64
 5   MasVnrArea    1460 non-null   float64
 6   ExterQual     1460 non-null   object
 7   BsmtQual      1460 non-null   object
 8   BsmtExposure  1460 non-null   object
 9   BsmtFinSF1    1460 non-null   int64
 10  TotalBsmtSF   1460 non-null   int64
 11  HeatingQC     1460 non-null   object
 12  1stFlrSF      1460 non-null   int64
 13  GrLivArea     1460 non-null   int64
 14  FullBath      1460 non-null   int64
 15  KitchenQual   1460 non-null   object
 16  TotRmsAbvGrd  1460 non-null   int64
 17  Fireplaces    1460 non-null   int64
 18  GarageFinish  1460 non-null   object
 19  GarageCars    1460 non-null   int64
 20  GarageArea    1460 non-null   int64
 21  WoodDeckSF    1460 non-null   int64
 22  OpenPorchSF   1460 non-null   int64
 23  SalePrice     1460 non-null   int64
dtypes: float64(2), int64(15), object(7)
memory usage: 273.9+ KB

In [69]:
# ---------------------------------------------------------------
# Ordinal Encoding (manual) 
# ---------------------------------------------------------------

ordinal_mapping = {
    'ExterQual': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1},
    'BsmtQual': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0},
    'BsmtExposure': {'Gd': 4, 'Av': 3, 'Mn': 2, 'No': 1, 'NA': 0},
    'HeatingQC': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1},
    'KitchenQual': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1},
    'GarageFinish': {'Fin': 3, 'RFn': 2, 'Unf': 1, 'NA': 0}
}

for col, mapping in ordinal_mapping.items():
    if col in df_train.columns:
        df_train[col] = df_train[col].map(mapping)

# ---------------------------------------------------------------
# 2. One-Hot Encoding (variables nominales)
# ---------------------------------------------------------------
onehot_cols = ['Neighborhood']
df_train = pd.get_dummies(df_train, columns=onehot_cols, drop_first=True)

In [70]:
# Sélection juste des colonnes numériques
#numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
numeric_cols = [
    col for col in df_train.select_dtypes(include=['int64', 'float64']).columns 
    if col not in ['Id', 'SalePrice']
]
scaler = StandardScaler()
# Appliquer la standardisation
df_standardized = df_train.copy()
df_standardized[numeric_cols] = scaler.fit_transform(df_train[numeric_cols])

In [71]:
#Sauvegarder le résultat
df_standardized.to_csv("feature_selection_train.csv", index=False)

In [72]:
feature_selection_train = pd.read_csv("feature_selection_train.csv", na_filter = False)

In [73]:
feature_selection_train.to_csv("feature_selection_train.csv", index = False)

In [74]:
missing_cells = feature_selection_train[feature_selection_train.isna().any(axis=1)]
missing_cells

Empty DataFrame
Columns: [LotFrontage, OverallQual, YearBuilt, YearRemodAdd, MasVnrArea, ExterQual, BsmtQual, BsmtExposure, BsmtFinSF1, TotalBsmtSF, HeatingQC, 1stFlrSF, GrLivArea, FullBath, KitchenQual, TotRmsAbvGrd, Fireplaces, GarageFinish, GarageCars, GarageArea, WoodDeckSF, OpenPorchSF, SalePrice, Neighborhood_Blueste, Neighborhood_BrDale, Neighborhood_BrkSide, Neighborhood_ClearCr, Neighborhood_CollgCr, Neighborhood_Crawfor, Neighborhood_Edwards, Neighborhood_Gilbert, Neighborhood_IDOTRR, Neighborhood_MeadowV, Neighborhood_Mitchel, Neighborhood_NAmes, Neighborhood_NPkVill, Neighborhood_NWAmes, Neighborhood_NoRidge, Neighborhood_NridgHt, Neighborhood_OldTown, Neighborhood_SWISU, Neighborhood_Sawyer, Neighborhood_SawyerW, Neighborhood_Somerst, Neighborhood_StoneBr, Neighborhood_Timber, Neighborhood_Veenker]
Index: []

[0 rows x 47 columns]

## EDITING TEST.CSV

In [79]:
df_test = pd.read_csv(
    r"C:\Users\leila\Downloads\pfaproject\house-price-prediction\data\raw data\test.csv",
    usecols=selected_columns
)

In [80]:
df_test.head()

,LotFrontage,Neighborhood,OverallQual,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,BsmtQual,BsmtExposure,BsmtFinSF1,...,GrLivArea,FullBath,KitchenQual,TotRmsAbvGrd,Fireplaces,GarageFinish,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF
0,80.0,NAmes,5,1961,1961,0.0,TA,TA,No,468.0,...,896,1,TA,5,0,Unf,1.0,730.0,140,0
1,81.0,NAmes,6,1958,1958,108.0,TA,TA,No,923.0,...,1329,1,Gd,6,0,Unf,1.0,312.0,393,36
2,74.0,Gilbert,5,1997,1998,0.0,TA,Gd,No,791.0,...,1629,2,TA,6,1,Fin,2.0,482.0,212,34
3,78.0,Gilbert,6,1998,1998,20.0,TA,TA,No,602.0,...,1604,2,Gd,7,1,Fin,2.0,470.0,360,36
4,43.0,StoneBr,8,1992,1992,0.0,Gd,Gd,No,263.0,...,1280,2,Gd,5,0,RFn,2.0,506.0,0,82

In [81]:
df_test.columns

Index(['LotFrontage', 'Neighborhood', 'OverallQual', 'YearBuilt',
       'YearRemodAdd', 'MasVnrArea', 'ExterQual', 'BsmtQual', 'BsmtExposure',
       'BsmtFinSF1', 'TotalBsmtSF', 'HeatingQC', '1stFlrSF', 'GrLivArea',
       'FullBath', 'KitchenQual', 'TotRmsAbvGrd', 'Fireplaces', 'GarageFinish',
       'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF'],
      dtype='object')

In [82]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotFrontage   1232 non-null   float64
 1   Neighborhood  1459 non-null   object
 2   OverallQual   1459 non-null   int64
 3   YearBuilt     1459 non-null   int64
 4   YearRemodAdd  1459 non-null   int64
 5   MasVnrArea    1444 non-null   float64
 6   ExterQual     1459 non-null   object
 7   BsmtQual      1415 non-null   object
 8   BsmtExposure  1415 non-null   object
 9   BsmtFinSF1    1458 non-null   float64
 10  TotalBsmtSF   1458 non-null   float64
 11  HeatingQC     1459 non-null   object
 12  1stFlrSF      1459 non-null   int64
 13  GrLivArea     1459 non-null   int64
 14  FullBath      1459 non-null   int64
 15  KitchenQual   1458 non-null   object
 16  TotRmsAbvGrd  1459 non-null   int64
 17  Fireplaces    1459 non-null   int64
 18  GarageFinish  1381 non-null   object
 19  GarageCars    1458 non-null   float64
 20  GarageArea    1458 non-null   float64
 21  WoodDeckSF    1459 non-null   int64
 22  OpenPorchSF   1459 non-null   int64
dtypes: float64(6), int64(10), object(7)
memory usage: 262.3+ KB

In [84]:
# Columns to keep:
cols_to_keep = [
    'LotFrontage', 'OverallQual', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea',
    'ExterQual', 'BsmtQual', 'BsmtExposure', 'BsmtFinSF1', 'TotalBsmtSF',
    'HeatingQC', '1stFlrSF', 'GrLivArea', 'FullBath', 'KitchenQual',
    'TotRmsAbvGrd', 'Fireplaces', 'GarageFinish', 'GarageCars',
    'GarageArea', 'WoodDeckSF', 'OpenPorchSF'
]

# ---------------------------------------------------------------
# 1. Fill NA in categorical columns from your selection if needed
# From your cols, categorical with possible NA: BsmtQual, BsmtExposure, KitchenQual, GarageFinish, ExterQual, HeatingQC
# Use 'NA' as string for missing values in these ordinal-like categories
cat_na_cols = ['BsmtQual', 'BsmtExposure', 'KitchenQual', 'GarageFinish', 'ExterQual', 'HeatingQC']
df_test[cat_na_cols] = df_test[cat_na_cols].fillna('NA')

# ---------------------------------------------------------------
# 2. Impute LotFrontage using neighborhood medians (if Neighborhood is present)
# Utiliser les médianes calculées sur df_train pour LotFrontage
neighborhood_medians = df_test.groupby('Neighborhood')['LotFrontage'].median()
df_test['LotFrontage'] = df_test.apply(
    lambda row: neighborhood_medians[row['Neighborhood']] if pd.isna(row['LotFrontage']) else row['LotFrontage'], 
    axis=1
)

# ---------------------------------------------------------------
# 3. Fill numeric columns NAs with 0 (from your list)
numeric_zero_cols = ['MasVnrArea', 'BsmtFinSF1', 'TotalBsmtSF', 'GarageCars', 'GarageArea']
df_test[numeric_zero_cols] = df_test[numeric_zero_cols].fillna(0)

# ---------------------------------------------------------------
# 4. If no basement (BsmtQual == 'NA'), basement-related numeric columns = 0
bsmt_related = ['BsmtFinSF1', 'TotalBsmtSF']
df_test.loc[df_test['BsmtQual'] == 'NA', bsmt_related] = 0

# ---------------------------------------------------------------
# 5. If no garage (GarageFinish == 'NA'), garage-related numeric columns = 0
garage_related = ['GarageCars', 'GarageArea']
df_test.loc[df_test['GarageFinish'] == 'NA', garage_related] = 0

# ---------------------------------------------------------------
# 6. Final check of missing values on these columns
missing_summary = df_test[cols_to_keep].isnull().sum()
print("Missing values in df_test (selected columns):")
print(missing_summary)

Missing values in df_test (selected columns):
LotFrontage     0
OverallQual     0
YearBuilt       0
YearRemodAdd    0
MasVnrArea      0
ExterQual       0
BsmtQual        0
BsmtExposure    0
BsmtFinSF1      0
TotalBsmtSF     0
HeatingQC       0
1stFlrSF        0
GrLivArea       0
FullBath        0
KitchenQual     0
TotRmsAbvGrd    0
Fireplaces      0
GarageFinish    0
GarageCars      0
GarageArea      0
WoodDeckSF      0
OpenPorchSF     0
dtype: int64

In [85]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotFrontage   1459 non-null   float64
 1   Neighborhood  1459 non-null   object
 2   OverallQual   1459 non-null   int64
 3   YearBuilt     1459 non-null   int64
 4   YearRemodAdd  1459 non-null   int64
 5   MasVnrArea    1459 non-null   float64
 6   ExterQual     1459 non-null   object
 7   BsmtQual      1459 non-null   object
 8   BsmtExposure  1459 non-null   object
 9   BsmtFinSF1    1459 non-null   float64
 10  TotalBsmtSF   1459 non-null   float64
 11  HeatingQC     1459 non-null   object
 12  1stFlrSF      1459 non-null   int64
 13  GrLivArea     1459 non-null   int64
 14  FullBath      1459 non-null   int64
 15  KitchenQual   1459 non-null   object
 16  TotRmsAbvGrd  1459 non-null   int64
 17  Fireplaces    1459 non-null   int64
 18  GarageFinish  1459 non-null   object
 19  GarageCars    1459 non-null   float64
 20  GarageArea    1459 non-null   float64
 21  WoodDeckSF    1459 non-null   int64
 22  OpenPorchSF   1459 non-null   int64
dtypes: float64(6), int64(10), object(7)
memory usage: 262.3+ KB

In [86]:
# ---------------------------------------------------------------
# Ordinal Encoding (manual) 
# ---------------------------------------------------------------

ordinal_mapping = {
    'ExterQual': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1},
    'BsmtQual': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0},
    'BsmtExposure': {'Gd': 4, 'Av': 3, 'Mn': 2, 'No': 1, 'NA': 0},
    'HeatingQC': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1},
    'KitchenQual': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1},
    'GarageFinish': {'Fin': 3, 'RFn': 2, 'Unf': 1, 'NA': 0}
}

for col, mapping in ordinal_mapping.items():
    if col in df_test.columns:
        df_test[col] = df_test[col].map(mapping)

onehot_cols = ['Neighborhood']

df_test = pd.get_dummies(df_test, columns=onehot_cols, drop_first=True)

In [87]:
# Sélection juste des colonnes numériques
#numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
numeric_cols = [
    col for col in df_test.select_dtypes(include=['int64', 'float64']).columns 
    if col not in ['Id', 'SalePrice']
]
scaler = StandardScaler()
# Appliquer la standardisation
df_standardize = df_test.copy()
df_standardize[numeric_cols] = scaler.fit_transform(df_test[numeric_cols])

In [88]:
#Sauvegarder le résultat
df_standardize.to_csv("feature_selection_test.csv", index=False)

In [89]:
feature_selection_test = pd.read_csv("feature_selection_test.csv", na_filter = False)

In [90]:
feature_selection_test.to_csv("feature_selection_test.csv", index = False)

In [91]:
missing_cells = feature_selection_test[feature_selection_test.isna().any(axis=1)]
missing_cells

Empty DataFrame
Columns: [LotFrontage, OverallQual, YearBuilt, YearRemodAdd, MasVnrArea, ExterQual, BsmtQual, BsmtExposure, BsmtFinSF1, TotalBsmtSF, HeatingQC, 1stFlrSF, GrLivArea, FullBath, KitchenQual, TotRmsAbvGrd, Fireplaces, GarageFinish, GarageCars, GarageArea, WoodDeckSF, OpenPorchSF, Neighborhood_Blueste, Neighborhood_BrDale, Neighborhood_BrkSide, Neighborhood_ClearCr, Neighborhood_CollgCr, Neighborhood_Crawfor, Neighborhood_Edwards, Neighborhood_Gilbert, Neighborhood_IDOTRR, Neighborhood_MeadowV, Neighborhood_Mitchel, Neighborhood_NAmes, Neighborhood_NPkVill, Neighborhood_NWAmes, Neighborhood_NoRidge, Neighborhood_NridgHt, Neighborhood_OldTown, Neighborhood_SWISU, Neighborhood_Sawyer, Neighborhood_SawyerW, Neighborhood_Somerst, Neighborhood_StoneBr, Neighborhood_Timber, Neighborhood_Veenker]
Index: []

[0 rows x 46 columns]