In [12]:
import pandas as pd

In [13]:
#df_test = pd.read_csv(r"C:\Users\leila\Downloads\pfaproject\house-price-prediction\data\raw data\test.csv")
df_test = pd.read_csv("/Users/macbook/Downloads/house-prices-dataset/test.csv")

In [14]:
df_test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [15]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   MSZoning       1455 non-null   object
 3   LotFrontage    1232 non-null   float64
 4   LotArea        1459 non-null   int64
 5   Street         1459 non-null   object
 6   Alley          107 non-null    object
 7   LotShape       1459 non-null   object
 8   LandContour    1459 non-null   object
 9   Utilities      1457 non-null   object
 10  LotConfig      1459 non-null   object
 11  LandSlope      1459 non-null   object
 12  Neighborhood   1459 non-null   object
 13  Condition1     1459 non-null   object
 14  Condition2     1459 non-null   object
 15  BldgType       1459 non-null   object
 16  HouseStyle     1459 non-null   object
 17  OverallQual    1459 non-null   int64
 18  OverallCond    1459 non-null   int64
 19  YearBuilt      1459 non-null   int64
 20  YearRemodAdd   1459 non-null   int64
 21  RoofStyle      1459 non-null   object
 22  RoofMatl       1459 non-null   object
 23  Exterior1st    1458 non-null   object
 24  Exterior2nd    1458 non-null   object
 25  MasVnrType     565 non-null    object
 26  MasVnrArea     1444 non-null   float64
 27  ExterQual      1459 non-null   object
 28  ExterCond      1459 non-null   object
 29  Foundation     1459 non-null   object
 30  BsmtQual       1415 non-null   object
 31  BsmtCond       1414 non-null   object
 32  BsmtExposure   1415 non-null   object
 33  BsmtFinType1   1417 non-null   object
 34  BsmtFinSF1     1458 non-null   float64
 35  BsmtFinType2   1417 non-null   object
 36  BsmtFinSF2     1458 non-null   float64
 37  BsmtUnfSF      1458 non-null   float64
 38  TotalBsmtSF    1458 non-null   float64
 39  Heating        1459 non-null   object
 40  HeatingQC      1459 non-null   object
 41  CentralAir     1459 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1459 non-null   int64
 44  2ndFlrSF       1459 non-null   int64
 45  LowQualFinSF   1459 non-null   int64
 46  GrLivArea      1459 non-null   int64
 47  BsmtFullBath   1457 non-null   float64
 48  BsmtHalfBath   1457 non-null   float64
 49  FullBath       1459 non-null   int64
 50  HalfBath       1459 non-null   int64
 51  BedroomAbvGr   1459 non-null   int64
 52  KitchenAbvGr   1459 non-null   int64
 53  KitchenQual    1458 non-null   object
 54  TotRmsAbvGrd   1459 non-null   int64
 55  Functional     1457 non-null   object
 56  Fireplaces     1459 non-null   int64
 57  FireplaceQu    729 non-null    object
 58  GarageType     1383 non-null   object
 59  GarageYrBlt    1381 non-null   float64
 60  GarageFinish   1381 non-null   object
 61  GarageCars     1458 non-null   float64
 62  GarageArea     1458 non-null   float64
 63  GarageQual     1381 non-null   object
 64  GarageCond     1381 non-null   object
 65  PavedDrive     1459 non-null   object
 66  WoodDeckSF     1459 non-null   int64
 67  OpenPorchSF    1459 non-null   int64
 68  EnclosedPorch  1459 non-null   int64
 69  3SsnPorch      1459 non-null   int64
 70  ScreenPorch    1459 non-null   int64
 71  PoolArea       1459 non-null   int64
 72  PoolQC         3 non-null      object
 73  Fence          290 non-null    object
 74  MiscFeature    51 non-null     object
 75  MiscVal        1459 non-null   int64
 76  MoSold         1459 non-null   int64
 77  YrSold         1459 non-null   int64
 78  SaleType       1458 non-null   object
 79  SaleCondition  1459 non-null   object
dtypes: float64(11), int64(26), object(43)
memory usage: 912.0+ KB

In [16]:
# 1. Appliquer les mêmes traitements aux colonnes catégorielles
na_cols = ['Alley', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 
           'BsmtFinType2', 'FireplaceQu', 'GarageType', 'GarageFinish', 
           'GarageQual', 'GarageCond', 'PoolQC', 'Fence', 'MiscFeature']
df_test[na_cols] = df_test[na_cols].fillna('NA')

df_test['MasVnrType'] = df_test['MasVnrType'].fillna('None')

# 2. Imputation numérique cohérente avec df_train
# Utiliser les médianes calculées sur df_train pour LotFrontage
neighborhood_medians = df_test.groupby('Neighborhood')['LotFrontage'].median()
df_test['LotFrontage'] = df_test.apply(
    lambda row: neighborhood_medians[row['Neighborhood']] if pd.isna(row['LotFrontage']) else row['LotFrontage'], 
    axis=1
)

# Remplacer les autres NA numériques
numeric_zero_cols = ['MasVnrArea', 'GarageYrBlt', 'BsmtFinSF1', 'BsmtFinSF2', 
                    'BsmtUnfSF', 'TotalBsmtSF', 'BsmtFullBath', 'BsmtHalfBath',
                    'GarageCars', 'GarageArea']
df_test[numeric_zero_cols] = df_test[numeric_zero_cols].fillna(0)

# 3. Imputer les modes calculés sur df_train pour les autres catégories
cat_cols_to_impute = ['MSZoning', 'Utilities', 'Exterior1st', 'Exterior2nd',
                     'Electrical', 'KitchenQual', 'Functional', 'SaleType']

for col in cat_cols_to_impute:
    mode_val = df_test[col].mode()[0]
    df_test[col] = df_test[col].fillna(mode_val)

# 4. Vérification des relations entre variables
# Si pas de sous-sol
bsmt_cols = ['BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 
             'BsmtFullBath', 'BsmtHalfBath']
df_test.loc[df_test['BsmtQual'] == 'NA', bsmt_cols] = 0

# Si pas de garage
df_test.loc[df_test['GarageType'] == 'NA', ['GarageCars', 'GarageArea']] = 0

# 5. Vérification finale
print("Valeurs manquantes restantes dans df_test :")
print(df_test.isnull().sum().sum())

Valeurs manquantes restantes dans df_test :
0

In [17]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   MSZoning       1459 non-null   object
 3   LotFrontage    1459 non-null   float64
 4   LotArea        1459 non-null   int64
 5   Street         1459 non-null   object
 6   Alley          1459 non-null   object
 7   LotShape       1459 non-null   object
 8   LandContour    1459 non-null   object
 9   Utilities      1459 non-null   object
 10  LotConfig      1459 non-null   object
 11  LandSlope      1459 non-null   object
 12  Neighborhood   1459 non-null   object
 13  Condition1     1459 non-null   object
 14  Condition2     1459 non-null   object
 15  BldgType       1459 non-null   object
 16  HouseStyle     1459 non-null   object
 17  OverallQual    1459 non-null   int64
 18  OverallCond    1459 non-null   int64
 19  YearBuilt      1459 non-null   int64
 20  YearRemodAdd   1459 non-null   int64
 21  RoofStyle      1459 non-null   object
 22  RoofMatl       1459 non-null   object
 23  Exterior1st    1459 non-null   object
 24  Exterior2nd    1459 non-null   object
 25  MasVnrType     1459 non-null   object
 26  MasVnrArea     1459 non-null   float64
 27  ExterQual      1459 non-null   object
 28  ExterCond      1459 non-null   object
 29  Foundation     1459 non-null   object
 30  BsmtQual       1459 non-null   object
 31  BsmtCond       1459 non-null   object
 32  BsmtExposure   1459 non-null   object
 33  BsmtFinType1   1459 non-null   object
 34  BsmtFinSF1     1459 non-null   float64
 35  BsmtFinType2   1459 non-null   object
 36  BsmtFinSF2     1459 non-null   float64
 37  BsmtUnfSF      1459 non-null   float64
 38  TotalBsmtSF    1459 non-null   float64
 39  Heating        1459 non-null   object
 40  HeatingQC      1459 non-null   object
 41  CentralAir     1459 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1459 non-null   int64
 44  2ndFlrSF       1459 non-null   int64
 45  LowQualFinSF   1459 non-null   int64
 46  GrLivArea      1459 non-null   int64
 47  BsmtFullBath   1459 non-null   float64
 48  BsmtHalfBath   1459 non-null   float64
 49  FullBath       1459 non-null   int64
 50  HalfBath       1459 non-null   int64
 51  BedroomAbvGr   1459 non-null   int64
 52  KitchenAbvGr   1459 non-null   int64
 53  KitchenQual    1459 non-null   object
 54  TotRmsAbvGrd   1459 non-null   int64
 55  Functional     1459 non-null   object
 56  Fireplaces     1459 non-null   int64
 57  FireplaceQu    1459 non-null   object
 58  GarageType     1459 non-null   object
 59  GarageYrBlt    1459 non-null   float64
 60  GarageFinish   1459 non-null   object
 61  GarageCars     1459 non-null   float64
 62  GarageArea     1459 non-null   float64
 63  GarageQual     1459 non-null   object
 64  GarageCond     1459 non-null   object
 65  PavedDrive     1459 non-null   object
 66  WoodDeckSF     1459 non-null   int64
 67  OpenPorchSF    1459 non-null   int64
 68  EnclosedPorch  1459 non-null   int64
 69  3SsnPorch      1459 non-null   int64
 70  ScreenPorch    1459 non-null   int64
 71  PoolArea       1459 non-null   int64
 72  PoolQC         1459 non-null   object
 73  Fence          1459 non-null   object
 74  MiscFeature    1459 non-null   object
 75  MiscVal        1459 non-null   int64
 76  MoSold         1459 non-null   int64
 77  YrSold         1459 non-null   int64
 78  SaleType       1459 non-null   object
 79  SaleCondition  1459 non-null   object
dtypes: float64(11), int64(26), object(43)
memory usage: 912.0+ KB

In [18]:
df_test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NA,Reg,Lvl,AllPub,...,120,0,NA,MnPrv,NA,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NA,IR1,Lvl,AllPub,...,0,0,NA,NA,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NA,IR1,Lvl,AllPub,...,0,0,NA,MnPrv,NA,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NA,IR1,Lvl,AllPub,...,0,0,NA,NA,NA,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NA,IR1,HLS,AllPub,...,144,0,NA,NA,NA,0,1,2010,WD,Normal

In [19]:
from sklearn.preprocessing import LabelEncoder

# ---------------------------------------------------------------
# 2. Ordinal Encoding (manuelle)
# ---------------------------------------------------------------

ordinal_mapping = {
    'LotShape': {'Reg': 4, 'IR1': 3, 'IR2': 2, 'IR3': 1},
    'Utilities': {'AllPub': 4, 'NoSewr': 3, 'NoSeWa': 2, 'ELO': 1},
    'LandSlope': {'Gtl': 1, 'Mod': 2, 'Sev': 3},
    'ExterQual': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1},
    'ExterCond': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1},
    'BsmtQual': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0},
    'BsmtCond': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0},
    'BsmtExposure': {'Gd': 4, 'Av': 3, 'Mn': 2, 'No': 1, 'NA': 0},
    'BsmtFinType1': {'GLQ': 6, 'ALQ': 5, 'BLQ': 4, 'Rec': 3, 'LwQ': 2, 'Unf': 1, 'NA': 0},
    'BsmtFinType2': {'GLQ': 6, 'ALQ': 5, 'BLQ': 4, 'Rec': 3, 'LwQ': 2, 'Unf': 1, 'NA': 0},
    'HeatingQC': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}
}

for col, mapping in ordinal_mapping.items():
    df_test[col] = df_test[col].map(mapping)

# ---------------------------------------------------------------
# 2. One-Hot Encoding (variables nominales)
# ---------------------------------------------------------------
onehot_cols = [
    'MSZoning', 'Alley', 'LandContour', 'LotConfig',
    'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'RoofStyle',
    'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'Foundation',
    'Heating', 'MSSubClass'  # MSSubClass est nominale !
]

df_test = pd.get_dummies(df_test, columns=onehot_cols, drop_first=True)

# ---------------------------------------------------------------
# 3. Encodage binaire pour les variables à 2 catégories
# ---------------------------------------------------------------
# Variable 'Street' 
df_test['Street'] = df_test['Street'].map({'Pave': 1, 'Grvl': 0})

In [20]:
print(df_test.head())

     Id  LotFrontage  LotArea  Street  LotShape  Utilities  LandSlope  \
0  1461         80.0    11622       1         4          4          1
1  1462         81.0    14267       1         3          4          1
2  1463         74.0    13830       1         3          4          1
3  1464         78.0     9978       1         3          4          1
4  1465         43.0     5005       1         3          4          1

  HouseStyle  OverallQual  OverallCond  ...  MSSubClass_70  MSSubClass_75  \
0     1Story            5            6  ...          False          False
1     1Story            6            6  ...          False          False
2     2Story            5            5  ...          False          False
3     2Story            6            6  ...          False          False
4     1Story            8            5  ...          False          False

   MSSubClass_80  MSSubClass_85  MSSubClass_90  MSSubClass_120  \
0          False          False          False           False
1          False          False          False           False
2          False          False          False           False
3          False          False          False           False
4          False          False          False            True

   MSSubClass_150  MSSubClass_160  MSSubClass_180  MSSubClass_190
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False
4           False           False           False           False

[5 rows x 177 columns]

In [21]:
# encodage des variables
# ---------------------------------------------------------------
# Ordinal Encoding (manuelle)

ordinal_map = {
    'KitchenQual': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1},
    'FireplaceQu': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0},
    'GarageFinish': {'Fin': 3, 'RFn': 2, 'Unf': 1, 'NA': 0},
    'GarageQual': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0},
    'GarageCond': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0},
    'PoolQC': {'Ex': 4, 'Gd': 3, 'TA': 2, 'Fa': 1, 'NA': 0},
    'Fence': {'GdPrv': 4, 'MnPrv': 3, 'GdWo': 2, 'MnWw': 1, 'NA': 0},
    'Functional': {'Typ': 7, 'Min1': 6, 'Min2': 5, 'Mod': 4, 'Maj1': 3, 'Maj2': 2, 'Sev': 1, 'Sal': 0}
}

for col, mapping in ordinal_map.items():
    df_test[col] = df_test[col].map(mapping)

# ---------------------------------------------------------------
# One-Hot Encoding (variables nominales)

onehot_col = [
    'GarageType', 'SaleType', 'SaleCondition', 'Electrical'
]

df_test = pd.get_dummies(df_test, columns=onehot_col, drop_first=True)

# ---------------------------------------------------------------
# Encodage binaire avec mapping

df_test['CentralAir'] = df_test['CentralAir'].map({'N': 0, 'Y': 1})
df_test['PavedDrive'] = df_test['PavedDrive'].map({'N': 0, 'P': 0.5, 'Y': 1})

In [11]:
print(df_test.head())

     Id  LotFrontage  LotArea  Street  LotShape  Utilities  LandSlope  \
0  1461         80.0    11622       1         4          4          1
1  1462         81.0    14267       1         3          4          1
2  1463         74.0    13830       1         3          4          1
3  1464         78.0     9978       1         3          4          1
4  1465         43.0     5005       1         3          4          1

  HouseStyle  OverallQual  OverallCond  ...  SaleType_Oth  SaleType_WD  \
0     1Story            5            6  ...         False         True
1     1Story            6            6  ...         False         True
2     2Story            5            5  ...         False         True
3     2Story            6            6  ...         False         True
4     1Story            8            5  ...         False         True

   SaleCondition_AdjLand  SaleCondition_Alloca  SaleCondition_Family  \
0                  False                 False                 False
1                  False                 False                 False
2                  False                 False                 False
3                  False                 False                 False
4                  False                 False                 False

   SaleCondition_Normal  SaleCondition_Partial  Electrical_FuseF  \
0                  True                  False             False
1                  True                  False             False
2                  True                  False             False
3                  True                  False             False
4                  True                  False             False

   Electrical_FuseP  Electrical_SBrkr
0             False              True
1             False              True
2             False              True
3             False              True
4             False              True

[5 rows x 195 columns]

In [22]:
numeric_cols = df_test.select_dtypes(include=['int64', 'float64']).columns

In [23]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [25]:
df_test[numeric_cols] = scaler.fit_transform(df_test[numeric_cols])

In [26]:
df_test.head()

,Id,LotFrontage,LotArea,Street,LotShape,Utilities,LandSlope,HouseStyle,OverallQual,OverallCond,...,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,Electrical_FuseF,Electrical_FuseP,Electrical_SBrkr
0,-1.730864,0.526150,0.363929,0.06426,0.703009,0.0,-0.207992,1Story,-0.751101,0.400766,...,False,True,False,False,False,True,False,False,False,True
1,-1.728490,0.573788,0.897861,0.06426,-1.090156,0.0,-0.207992,1Story,-0.054877,0.400766,...,False,True,False,False,False,True,False,False,False,True
2,-1.726115,0.240326,0.809646,0.06426,-1.090156,0.0,-0.207992,2Story,-0.751101,-0.497418,...,False,True,False,False,False,True,False,False,False,True
3,-1.723741,0.430876,0.032064,0.06426,-1.090156,0.0,-0.207992,2Story,-0.054877,0.400766,...,False,True,False,False,False,True,False,False,False,True
4,-1.721367,-1.236435,-0.971808,0.06426,-1.090156,0.0,-0.207992,1Story,1.337571,-0.497418,...,False,True,False,False,False,True,False,False,False,True